.header {
  padding-bottom: 1.5rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.flex-container {
  display: flex;
  align-items: baseline;
}

.left-flex-filler {
  flex: 1;
}

.middle-flex-content {
  flex: 2;
  padding-top: 20px;
}

.right-flex-filler {
  flex: 1;
}

.clickable-container {
  display: flex;
  align-items: center;
  height: 5rem;
  padding-left: 1rem;
}

.card-title {
  font-weight: bold;
}

.card-progress-count {
  color: #cbcbcb;
  font-weight: bold;
  font-size: small;
}

.all-groups-button {
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  color: rgb(111, 204, 251);
}

.icon-container {
  width: 20px;
  height: 20px;
  flex: 0 0 30px;
  display: flex;
  justify-content: center;
  padding-right: 2rem;
}

.icon-group-arrow {
  height: 10px;
}

.bottom-border {
  border-bottom: solid 1px #cbcbcb;
}

.space-between {
  justify-content: space-between;
}

.pointer {
  cursor: pointer;
}
